/*
No reconoce
$shadow:  rgb(100 100 111 / 20%) 0px 7px 29px 0px;
*/

// $shadow: #64646f33 0px 7px 29px 0px;
$color-default: #0034bb;
$color-white: #ffffff;

// maps
$colors: (
  header: #212529,
  text: #fff,
  footer: #000,
);

$bg-header: (
  bg: #333
);

$bg-footer: (
  bg: #fff,
  //bg: #0138c9
);